.root {
    -fx-background-color: #212121;
}
.label {
    /*-fx-alignment: center;*/
    /*-fx-text-alignment: center;*/
    /*-fx-font-size: 80;*/
}

#submit {
    /*-fx-background-color: #535353;*/
}


.menu-bar {
    /*-fx-background-color: 	#1db954;*/
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

/*.button{*/
/*    !*-fx-background-size: 100% 100%;*!*/
/*    !*-fx-background-repeat: no-repeat;*!*/
/*    !*-fx-background-color: transparent;*!*/
/*}*/

#giveButton{
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    /*-fx-background-image: url("../model/images/shoppingCart.png");*/
}

#whiteHome {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url("../model/images/white-home-icon.png");
}

#blackHome {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-image: url("../model/images/black-home-icon.png");
}

#addButton {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    /*-fx-background-color: transparent;*/
    -fx-background-image: url("../model/images/add.png");
}

#subtractButton {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    /*-fx-background-color: transparent;*/
    -fx-background-image: url("../model/images/subtract.png");
}